doctype
html
	include includes/head
	body
		include includes/nav
		table.table
			thead
				tr
					th Device
					th Status
					th Created
			tbody
				- for device in devices
					tr
						td 
							a(href="/device/" + device._id) #{device.name}
						td 
							if device.active
								span Active
							else
								span Not Active
						td #{device.modified}

		include includes/foot