doctype
html
	include includes/head
	style.
		.iphone{
			background: url('/img/iphone_ui.png') no-repeat;
			background-size: 432px auto;
			height: 882px;
			width: 432px;
			margin: 0 auto;
		}
	body
		.iphone
